.App {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 100vw;
  display: flex;
  gap: 1rem;
  height: 4rem;
  border-bottom: 1px solid rgb(196, 196, 196);
  box-shadow: 1px 1px 10px rgb(196, 196, 196);
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

h1 {
  font-size: 6rem;
}